
# Database
DATABASE_URL=postgresql://neondb_owner:npg_Rksb8E1VMzXD@ep-winter-scene-ailfy9wr-pooler.c-4.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=

# Port & Host
PORT=8000
HOST='0.0.0.0'

# ARCJET
ARCJET_KEY="ajkey_01khx4c7ngem18hnhkjh2zs6qf"
ARCJET_ENV="development"

# API URL
API_URL="http://localhost:8000"
# API_URL = "YOUR_REAL_PRODUCTION_URL"

BROADCAST="1"
DELAY_MS="250"
MATCH_COUNT="0"

FOOTBALL_COMPETITIONS=PL,CL,PD,BL1,SA

RAPIDAPI_KEY=5c8a229102msh688d0585c99b8edp177312jsn8eb10ebc3d85
FOOTBALL_DATA_KEY=34a87197df084e469cfeff6f8e903e0e


JWT_SECRET=d212c0c42861664c835300325104d86ade6398b6a45a4df72c099f21cd27fe0a508fb9886ed464de96606191c77e33ce599c83ce2bbd6c3b0b04abebc59d62bc